.bp-animated-block {
    width: 193px;
    height: 193px;
}

.bp-animated-block video {
    width: 100%;
}

.bp-header-info {
    padding-right: 15px;
    width: calc(100% - 193px);
}

.bp-header-container {
    display: flex;
    align-items: center;
}

.bp-header-title {
    color: rgba(98, 98, 204, 1);
    font-size: 30px;
    text-transform: uppercase;
}

.bp-header-subtitle {
    color: #646464;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px;
    font-family: 'Lato', sans-serif;
}

.bp-ebook {
    padding: 15px 10px;
}

.bp-ebook form {
    padding: 15px 0 0 0 !important;
}

.bp-ebook input {
    width: 100%;
}

.bp-ebook table {
    width: 100%;
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
    .bp-header-title {
        font-size: 24px;
    }
    .bp-header-subtitle {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .bp-header-container {
        flex-direction: column;
    }
    .bp-header-info {
        width: 100%;
        padding-right: 0;
    }
    .bp-animated-block {
        width: 100%;
        height: auto;
    }
    .bp-header-title,
    .bp-header-subtitle {
        text-align: center;
    }
}